<h1>Convert <%= @first_currency %></h1>

<p>
  Go <a href="/forex">back</a>.
</p>

<ul>
  <% @currency_codes.each do |each_code|%>
  <li>
    <a href="/forex/<%= @first_currency%>/<%= each_code%>">  
      Convert 1 <%= @first_currency %> to <%= each_code %>... 
    </a>
  </li>
  <% end %>
</ul>