<h1>Convert <%= @first_currency %> to <%= @second_currency %></h1>

<p>
  1 <%= @first_currency%> equals <%= @conversion_rate %> <%= @second_currency %>.
</p>

<p>
  Go <a href="/forex/<%= @first_currency %>">back</a>.
</p>